<% content_for :subnav do %>
  <%#= render 'actions' %>
<% end %>

<section id='records'>
  <%= render 'records' %>
</section>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'refinery/copywriting/backend' %>
<% end %>
